In [7]:
import pandas as pd

dataBase = pd.read_json("dados.json")
# display(dataBase) database completa

In [8]:
dataBase = dataBase.drop(dataBase[dataBase['valor'] == 0].index)
# display(dataBase) database sem dados com valor 0

In [9]:
print('Menor faturamento: ')
dataBase.loc[dataBase['valor'].idxmin()]

Menor faturamento:

dia       14.0000
valor    373.7838
Name: 13, dtype: float64

In [10]:
print('Maior faturamento: ')
dataBase.loc[dataBase['valor'].idxmax()]

Maior faturamento:

dia         16.0000
valor    48924.2448
Name: 15, dtype: float64

In [11]:
soma = dataBase['valor'].sum()
media = soma/(dataBase['valor'].count() - 1)

print( 'Média de faturamento:', media)

print('Dias em que o faturamento foi acima da média:')
dataBase.loc[dataBase['valor'] > media]

Média de faturamento: 21908.638675
Dias em que o faturamento foi acima da média:

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
15   16  48924.2448
19   20  35240.1826
20   21  43829.1667
26   27  25681.8318